<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:site_name" content="There will be news">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{subtitle}}">
    <meta property="og:url" content="https://therewillbenews.thesupertoys.org">
    <meta name=”twitter:card” content=”summary”/>

    <title>There will be news</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/social.css">

    <script src="js/like_dislike.js"></script>
</head>

<body>

<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <h1><a class="text-white" href="/">There will be news</a></h1>
            <a href="https://github.com/the-super-toys/web-there-will-be-news" target="_blank" class="fa fa-github"></a>
        </div>
    </div>
</header>

<div class="py-5 bg-light">
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                <medium class="text-muted">{{date}}</medium>
                <small class="pull-right">
                    <a href="{{urlTwitter}}" style='text-align:right;' target="_blank" class="fa fa-twitter"></a>
                    <a href="{{urlFacebook}}" style='text-align:right;' target="_blank" class="fa fa-facebook"></a>
                </small>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <br/>
                <h4 class="card-subtitle">{{subtitle}}</h4>
                <p class="card-text">{{{body}}}</p>
            </div>
            <div class="card-footer">
                <button onclick="like('{{id}}')" class='btn btn-lg' style='background-color:transparent;'>
                    {{#liked}}
                    <div id="{{id}}_like_icon" style='text-align:left;' class="fa fa-thumbs-up selected"></div>
                    <small id="{{id}}_like_counter" class="selected">{{positiveReviews}}</small>
                    {{/liked}}
                    {{^liked}}
                    <div id="{{id}}_like_icon" style='text-align:left;' class="fa fa-thumbs-up"></div>
                    <small id="{{id}}_like_counter" class="text-muted">{{positiveReviews}}</small>
                    {{/liked}}
                </button>
                <button onclick="dislike('{{id}}')" class='btn btn-lg' style='background-color:transparent;'>
                    {{#disliked}}
                    <div id="{{id}}_dislike_icon" style='text-align:left;' class="fa fa-thumbs-down selected"></div>
                    <small id="{{id}}_dislike_counter" class="selected">{{negativeReviews}}</small>
                    {{/disliked}}
                    {{^disliked}}
                    <div id="{{id}}_dislike_icon" style='text-align:left;' class="fa fa-thumbs-down"></div>
                    <small id="{{id}}_dislike_counter" class="text-muted">{{negativeReviews}}</small>
                    {{/disliked}}
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>