<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="There will be news">
    <meta property="og:url" content="https://therewillbenews.thesupertoys.org">

    <title>There will be news</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/social.css">
</head>

<body>

{{> header}}

<div class="py-5 bg-light">
    <div class="container">
        <div class="card-columns">
            {{#news}}
            <div class="card">
                <div class="card-header min-header">
                    <small class="text-muted">{{date}}</small>
                    {{#hasLikes}}
                    <small class="pull-right">
                        <div id="{{id}}_like_icon" style='text-align:left;' class="fa fa-thumbs-up min-icon"></div>
                        <small id="{{id}}_like_counter" class="text-muted">{{positiveReviews}}</small>
                    </small>
                    {{/hasLikes}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{subtitle}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="/{{id}}" class="btn btn-sm btn-outline-secondary" role="button">Read more</a>
                            <a href="/categories/{{category}}" class="btn btn-sm btn-outline-secondary" role="button">{{category}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/news}}
        </div>
    </div>
</div>

</body>
</html>