<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <h1><a class="text-white" href="/">There will be news</a></h1>
            <a href="https://github.com/the-super-toys/web-there-will-be-news" target="_blank" class="fa fa-github"></a>
            <form method="GET" action="/search" class="form-inline">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>