@media (max-width: 699px) {
    .grid-item { width: 100%; }
}
@media (min-width: 700px) {
    .grid-item { width: 50%; }
}

@media (min-width: 1000px) {
    .grid-item { width: 33.33%;}
}

.grid-item {
    padding: 5px;
}

.min-header {
    padding: .30rem 1.25rem
}

