.fa {
    font-size: 30px;
    width: 75px;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    padding: 10px;
    font-size: 17px;
    width: 35px;
    background: #3B5998;
    color: white;
}

.fa-twitter {
    padding: 10px;
    font-size: 17px;
    width: 35px;
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: transparent;
    color: white;
}
.fa-thumbs-down {
    font-size: 25px;
    width: 30px;
    color: #a2a3ae;
}

.fa-thumbs-up {
    font-size: 25px;
    width: 30px;
    color: #a2a3ae;
}

.min-icon {
    padding: 0;
    font-size: 15px;
    width: 15px;
    color: #a2a3ae;
}

.min-icon:hover {
    opacity: 1;
}

.selected {
    color: #007bff;
}

.min-header {
    padding: .30rem 1.25rem
}